
  
  .container {
    max-width: 100vw;
    margin: 0 auto;
    background-color: linear-gradient( 109.6deg, rgb(3, 39, 43) 11.2%, rgba(0,0,0,1) 91.1% );;
    color: #d4d4d4;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    padding: 20px;
    margin: 0;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 50px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .title {
    color: #569cd6;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .subtitle {
    color: #4ec9b0;
    font-size: 1rem;
  }
  
  .section {
    margin-bottom: 2rem;
  }
  
  .h2 {
    color: #ce9178;
    border-bottom: 1px solid #3e3e3e;
    padding-bottom: 0.5rem;
  }
  
  .codeBlock {
    background-color: #2d2d2d4f;
    border: 1px solid #3e3e3e;
    border-radius: 4px;
    padding: 2rem;
    overflow-x: auto;
    font-size: 0.9rem;
    color: green;
  }
  
  .list {
    list-style-type: none;
    padding-left: 0;
    color: var(--softTextColor);
  }
  
  .list .li {
    margin-bottom: 0.5rem;
  }
  
  .list .li::before {
    content: ">";
    color: #569cd6;
    margin-right: 0.5rem;
  }
  
  .footer {
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #3e3e3e;
    font-size: 0.9rem;
    color: #888;
  }